:root {
  --bg-svg : url(../svg/desert_landscape.svg);
  --bg-color: #c45f2a; 
  --txt-color: #1c1e20;
  --box-backgroud : rgba(164, 221, 255, 0.26);
  --witcher : #2ac0c4;
  --anim-name : fade-in;
  --bg-name : bg-moving;
}



.dark-mode:root{
  --bg-svg : url(../svg/desert_landscape_night.svg);
  --txt-color: #ffffff;
  --box-backgroud : rgb(164 221 255 / 41%);
  --witcher : #2ac0c4;
  --bg-color: #001744;
  --anim-name: darkmode;
  --bg-name : bg-darkmode;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--bg-svg);
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
    background-color: var(--bg-color);
    animation: var(--bg-name) 2s ease-in-out forwards;
    
}



/* Login Form*/

.loginForm{
    padding: 30px;
    border-radius: 15px;
    background: var(--box-backgroud);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    margin-top: 19vh;
    
}


.loginForm label{
    font-family: Nunito, sans-serif;
    color:var(--txt-color);
    font-weight: bold;
    
}

.loginForm input {
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginForm #submit {
    float: right;
    background-color:  var(--witcher);
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);


}



/* DarkMode */
.darkMode{
    align-self: flex-end;
    padding: 1.3%;
    border-radius: 15px;
    background: var(--box-backgroud);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    animation: var(--anim-name) 2s linear, bouncing 1s ease-in-out alternate infinite; 
    
}


.darkMode:hover{
  animation-play-state: paused;
}

.darkMode p{
    font-family: Nunito, sans-serif;
    color:var(--txt-color);
    font-weight: bold;
   
}





 /* Switch*/

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  #switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--witcher);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  /* Animações*/


@keyframes bouncing {
  to{
    transform: translateY(6px);
  }
  
}

@keyframes bg-moving {
  from{
    background-position-x: 0%;
    background-size: 185vh;
  }
  to{
    background-position-x: 50%;
    background-size: 235vh;
  }
}

@keyframes bg-darkmode {
  from{
    background-position-x: 0%;
    background-size: 185vh;
  }
  to{
    background-position-x: 50%;
    background-size: 235vh;
  }
}


@keyframes fade-in {
  from {
    opacity:  0;
  }

  to{
    opacity: 1;
  }
  
}

@keyframes darkmode {
  from{
    opacity:  0;
    background-color: var(--box-backgroud);
  }
  to{
    opacity: 1;
    background-color: var(--box-backgroud);
  }
}



#fade-in {

  animation: var(--anim-name) 2s linear;
  
}